header {
    font-family: -system-ui, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: grid;
    place-items: center;
    background-color: purple;
    color: white;
    font-weight: bold
}

#map {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0
}

dialog#cards {
    transition: transform 250ms;
    will-change: transform;

    &[open] {
        transform: none;

        @starting-style {
            transform: translateY(100vh);
        }
    }
}
